# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# Black Duck Security Action allows you to integrate Static Analysis Security Testing (SAST) and Software Composition Analysis (SCA) into your CI/CD pipelines.
# For more information about configuring your workflow,
# read our documentation at https://github.com/blackduck-inc/black-duck-security-scan

name: polaris

on:
  push:
    branches: [ main, master, develop, stage, release ]
  pull_request:
    branches: [ main, master, develop, stage, release ]
  workflow_dispatch:

jobs:
  polaris:
    runs-on: ubuntu-latest
    

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: microsoft
          cache: maven
      - name: Black Duck Polaris scan
        uses: blackduck-inc/black-duck-security-scan@v2
        with:

          ### ---------- POLARIS SCANNING: REQUIRED FIELDS ----------
          polaris_server_url: ${{ secrets.POLARIS_SERVER_URL }}
          polaris_access_token: ${{ secrets.POLARIS_ACCESS_TOKEN }}
          github_token: ${{ secrets.GH_TOKEN }}
          polaris_assessment_types: "SCA,SAST"
          polaris_application_name: "SAST & SCA Demo Experimental"
          polaris_project_name: "Shift-Left_Java"
          polaris_prComment_enabled: 'true'
          polaris_reports_sarif_create: 'true'
          polaris_upload_sarif_report: 'true'

          ### ---------- SRM SCANNING: REQUIRED FIELDS ----------
          # srm_url: ${{ vars.SRM_URL }}
          # srm_apikey: ${{ secrets.SRM_API_KEY }}
          # srm_assessment_types: "SCA,SAST"

